.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid $gray;
  border-radius: 10px;
  background-color: transparent;
}

@media screen and (min-width: $desktop) {
  .input {
    height: 59.25px;
    border-width: 1.5px;
    border-radius: 20px;
  }
}
