// FONT
$roboto-font: 'Roboto', sans-serif;
$euclid-font: 'Euclid Circular A', sans-serif;

// RESOLUTION
$mobail: 375px;
$desktop: 1920px;

// COLORS
$white: #fff;
$black: #000;
$gray: #8e9092;
$button-menu-bg: #f9f9f9;
$text-color: #292d32;
$text-color-alt: #838383;
$text-color-alt-1: #b7b7b7;
$bg-opacity: rgba(63, 63, 63, 0.5);
$bg-dark-gray: #eee;
$bg-gray: #f2f2f2;
$bg-light-gray: #f9f9f9;
$bg-lighten-dark: #343a41;
$bg-line-gray: #e5e5e5;
$basic-blue: #33a9ff;
$blue-alt: #48a4eb;
$card-news-shadow: rgba(22, 11, 21, 0.05);
$card-news-date-shadow: rgba(0, 0, 0, 0.05);
$menu-shadow: rgba(0, 0, 0, 0.13);
$swiper-bullets: #d0d0d0;
