.footer-nav {
  display: grid;
  grid-template-columns: 138px 141px;
  gap: 30px 44px;
}

.footer-nav__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
}

.footer-nav__column-catalog {
  grid-column: 1/-1;
}

.footer-nav__item {
  align-self: start;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav__item--laptop {
  grid-row: 1/2;
}

.footer-nav__item--servers {
  grid-row: 2/3;
}

.footer-nav__item--emc {
  grid-row: 3/4;
  margin-top: -1px;
}

.footer-nav__item--pc {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer-nav__item--repair-parts {
  grid-column: 1/2;
  grid-row: 2/-1;
  width: 122px;
  margin-top: 12px;
}

.footer-nav__link {
  font-weight: 300;
}

.footer-nav__link--pc,
.footer-nav__link--repair-parts {
  display: block;
  line-height: 15px;
}

.footer-nav__list-catalog {
  display: grid;
  grid-template-columns: 138px auto;
  grid-template-rows: 18px 18px 17px;
  gap: 10px 44px;
}

@media screen and (min-width: $desktop) {
  .footer-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 908px;
  }

  .footer-nav__list-catalog {
    display: block;
  }

  .footer-nav__link {
    font-size: 16px;
    line-height: 19px;
  }

  .footer-nav__item--repair-parts {
    width: auto;
    margin-top: 0;
  }

  .footer-nav__title {
    font-size: 25px;
    line-height: 29px;
  }
}
